.split {
  display: grid;
  gap: var(--space-8);
  align-items: center;
  grid-template-columns: 1fr;
}

.body > * + * {
  margin-top: var(--space-4);
}

@media (min-width: 820px) {
  .split {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-12);
  }
  .reverse .media {
    order: 2;
  }
}
